
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Inner Banner -->
<section class="banner pt-3 pb-0" style="background: #6c3fb5;">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6 text-md-start text-center wow zoomInLeft">
                <h2 class="mb-3">Contact Us</h2>
                <h5 class="text-white">Track your business anytime, anywhere</h5>
                @*<a href="#" class="btnetech mt-3">Subscribe Now</a>*@
            </div>
            <div class="col-md-3 wow zoomInRight">
                <img src="~/Content/web-assets/images/innerbanner.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<!-- // -->
<!-- Contact Panel -->
<section>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-7 wow fadeInLeft">
                <div class="title text-center pb-4">
                    <h5>MESSAGE</h5>
                    <h1 class="mb-0">Quick Enquiry</h1>
                </div>
                <div class="enquiryBox">
                    @*<form>*@
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text" name="txtName" id="txtName" class="form-control" placeholder="Full Name">
                                    <label for="">Full Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text" name="" id="txtEmailId" class="form-control" placeholder="Email Address">
                                    <label for="">Email Id</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text" name="" id="txtMobileNo" class="form-control" placeholder="Mobile No">
                                    <label for="">Mobile No</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text" name="" id="txtSubject" class="form-control" placeholder="Subject">
                                    <label for="">Subject</label>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row mb-4">
                            <div class="col-12">
                                <label for="">I Have a...</label>
                            </div>
                            <div class="col-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Question / Comment</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Program Suggestion</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio3" value="option3">
                                    <label class="form-check-label" for="inlineRadio3">Subcription</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Select State</label>
                                    <select name="" id="" class="form-select">
                                        <option value="">West Bengal</option>
                                        <option value="">Bihar</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <p class="mb-1">Checkbox</p>
                                <div class="form-check form-check-inline rounded">
                                    <input class="form-check-input" type="checkbox" name="inlineRadioOptions"
                                        id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Question / Comment</label>
                                </div>
                                <div class="form-check form-check-inline rounded">
                                    <input class="form-check-input" type="checkbox" name="inlineRadioOptions"
                                        id="inlineCheckbox2" value="option2">
                                    <label class="form-check-label" for="inlineCheckbox2">Program Suggestion</label>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-floating">
                            <textarea name="" id="txtMessage" cols="20" rows="5" placeholder="Enquiry Message" class="form-control" style="height:100px;"></textarea>
                            <label for="">Enquiry Message</label>
                        </div>
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-danger" onclick="submit()" id="btnSubmit">
                            <i id="divLoading" class="fas fa-3x fa-sync-alt fa-spin" style="font-size:1rem;display:none" ></i> Enquiry Now</button>
                        </div>
                    @*</form>*@
                </div>
            </div>
            <div class="col-md-5 ps-md-5 wow fadeInRight">
                <div class="title text-center pb-4">
                    <h5>GET IN TOUCH</h5>
                    <h1 class="mb-0">Contact Us</h1>
                </div>
                <div class="contBox mb-3">
                    <div class="item">
                        <img src="~/Content/web-assets/images/map-location.png" width="40" alt="">
                        <h4>Address</h4>
                        <p>1, Royd Lane, Park Street, Kolkata, West Bengal - 700016</p>
                    </div>
                    <div class="item">
                        <img src="~/Content/web-assets/images/email.png" width="40" alt="">
                        <h4>Email</h4>
                        <p>info@equibillbook.com</p>
                    </div>
                    <div class="item">
                        <img src="~/Content/web-assets/images/phone-call.png" width="40" alt="">
                        <h4>Phone No</h4>
                        <p>
                            <a href="tel:+918013200659">+91 80132 00659</a>
                        </p>
                    </div>
                    <div class="item">
                        <img src="~/Content/web-assets/images/whatsapp.png" width="40" alt="">
                        <h4>Whatsapp No</h4>
                        <p>
                            <a href="https://wa.me/918013200659" target="_blank">
                                +91 80132 00659
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // -->
<!-- FAQ Panel -->
@*<section class="faqPanel">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft">
                <div class="title text-center">
                    <h5>FAQ</h5>
                    <h1 class="fs-3">Frequently Asked Questions</h1>
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Which Billing software is best for small business?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the first item's accordion body.</strong> It is shown by default,
                                until the collapse plugin adds the appropriate classes that we use to style each
                                element. These classes control the overall appearance, as well as the showing and
                                hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                our default variables. It's also worth noting that just about any HTML can go within
                                the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How does billing software work?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the second item's accordion body.</strong> It is hidden by default,
                                until the collapse plugin adds the appropriate classes that we use to style each
                                element. These classes control the overall appearance, as well as the showing and
                                hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                our default variables. It's also worth noting that just about any HTML can go within
                                the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                What is the difference between invoices and bills?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default,
                                until the collapse plugin adds the appropriate classes that we use to style each
                                element. These classes control the overall appearance, as well as the showing and
                                hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                our default variables. It's also worth noting that just about any HTML can go within
                                the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                How can i print bank details in invoice?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default,
                                until the collapse plugin adds the appropriate classes that we use to style each
                                element. These classes control the overall appearance, as well as the showing and
                                hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                our default variables. It's also worth noting that just about any HTML can go within
                                the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Is My Data Safe on Enquitech?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default,
                                until the collapse plugin adds the appropriate classes that we use to style each
                                element. These classes control the overall appearance, as well as the showing and
                                hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                our default variables. It's also worth noting that just about any HTML can go within
                                the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-6 ps-md-5 wow fadeInRight">
                <div class="title text-center">
                    <h5>TESTIMONIAL</h5>
                    <h1 class="fs-3">Our Valuable Customers Feedback</h1>
                </div>
                <div class="testiBoxMain">
                    <div class="swiper testimonial-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testiBox">
                                    <div class="d-flex align-items-center mb-3">
                                        <img src="~/Content/web-assets/images/testimonial/1.jpg" alt="">
                                        <div class="content">
                                            <h6>Debashish Roy <small>Senior Consultant- SSO UNIX, IBM</small></h6>
                                        </div>
                                    </div>
                                    <p>I made a brilliant Choice in my career. I strongly believe that I made a brilliant choice when I joined and associated with Akra Education in the year back 1999.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testiBox">
                                    <div class="d-flex align-items-center mb-3">
                                        <img src="~/Content/web-assets/images/testimonial/2.jpg" alt="">
                                        <div class="content">
                                            <h6>Soumya Swarup Dutta <small>Cognizant Technology,Pune</small></h6>
                                        </div>
                                    </div>
                                    <p>We congratulate our student Soumya Swarup Dutta for getting Job in Cognizant Technology, Pune.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testiBox">
                                    <div class="d-flex align-items-center mb-3">
                                        <img src="~/Content/web-assets/images/testimonial/3.jpg" alt="">
                                        <div class="content">
                                            <h6>Albin Sah <small>Wipro Limited, Mumbai</small></h6>
                                        </div>
                                    </div>
                                    <p>We congratulate our student Albin Sah for getting Job in Wipro Limited, Mumbai.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testiBox">
                                    <div class="d-flex align-items-center mb-3">
                                        <img src="~/Content/web-assets/images/testimonial/4.jpg" alt="">
                                        <div class="content">
                                            <h6>Joy Roychowdhury <small>Sr Technical Solution Architect.</small></h6>
                                        </div>
                                    </div>
                                    <p>Akra Education is my first professional Institution where I started my career study, and still I am attached to this organization by any reason.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<script src="~/Content/JQuery/Website/Contact.js"></script>