

@{
    if (ViewBag.WhitelabelType == 2)
    {
        <strong>Copyright &copy; @@ @DateTime.Now.Year <a href="@ViewBag.BusinessSetting.WebsiteUrl" target="_blank">@ViewBag.BusinessSetting.BusinessName</a></strong>
    }
    else
    {
        <strong>Copyright &copy; @@ @DateTime.Now.Year <a href="https://www.equitechsoftwares.com" target="_blank">Equitech Softwares</a></strong>
    }
}
 All rights reserved.
<div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 1.0.1
</div>
