
<select class="form-control select2" id="ddlState">
    <option value="0">Select State</option>
    @{
        if (ViewBag.States != null)
        {
            foreach (var item in ViewBag.States)
            {
                <option value="@item.StateId">@item.State</option>
            }
        }
    }
</select>