@{
    ViewBag.Title = "Admin | Blog List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Blog List</h1>
                <div class="float-left">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admindashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">Blog List</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-6 col-12 d-flex align-items-center justify-content-start justify-content-md-end mt-1 mt-md-0">
                <a id="btnNew" href="/adminblog/add" class="btn btn-primary float-sm-right mr-2"><i class="fas fa-plus"></i> Add New</a>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5>
                            <span class="success" id="divTotalCount">Total : 0</span>
                            |
                            <span class="primary" id="divActiveCount">Active : 0</span>
                            |
                            <span class="danger" id="divInactiveCount">In-Active : 0</span>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div id="tblBlog_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="dataTables_length noPrint" id="tblBlog_length">
                                <label>
                                    Show
                                    <select name="tblBlog_length" aria-controls="tblBlog" class="custom-select custom-select-sm form-control form-control-sm"
                                            onchange="fetchList(1)" id="txtPageSize">
                                        @{
                                            if (ViewBag.PageSize == 10)
                                            {
                                                <option value="10" selected>10</option>
                                            }
                                            else
                                            {
                                                <option value="10">10</option>
                                            }
                                            if (ViewBag.PageSize == 25)
                                            {
                                                <option value="25" selected>25</option>
                                            }
                                            else
                                            {
                                                <option value="25">25</option>
                                            }
                                            if (ViewBag.PageSize == 50)
                                            {
                                                <option value="50" selected>50</option>
                                            }
                                            else
                                            {
                                                <option value="50">50</option>
                                            }
                                            if (ViewBag.PageSize == 100)
                                            {
                                                <option value="100" selected>100</option>
                                            }
                                            else
                                            {
                                                <option value="100">100</option>
                                            }
                                            if (ViewBag.PageSize == 500)
                                            {
                                                <option value="500" selected>500</option>
                                            }
                                            else
                                            {
                                                <option value="500">500</option>
                                            }
                                        }
                                    </select>
                                    entries
                                </label>
                            </div>
                            <div class="dataTables_filter noPrint" id="tblBlog_filter">
                                <label>
                                    Search:
                                    <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="tblBlog" id="txtSearch" onkeyup="if(event.keyCode==13){fetchList(1);}">
                                </label>
                            </div>
                        </div>
                        <table id="tblData" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="tblBlog_info">
                            @Html.Partial("PartialAdminBlog")
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Content/JQuery/Admin/AdminBlog.js"></script>

