@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap');

:root {
    --etech-font-size-10: 0.7rem;
    --etech-font-size-12: 0.8rem;
    --etech-font-size-14: 0.85rem;
    --etech-font-size-15: 0.90rem;
    --etech-font-size-16: 0.95rem;
    --etech-font-size-18: 1.0rem;
    --etech-font-size-20: 1.1rem;
    --etech-font-size-24: 1.2rem;
    --etech-font-300: 300;
    --etech-font-600: 600;
    --etech-padding-sm: 0.5rem;
    --etech-padding-md: 0.85rem;
    --etech-padding-lg: 1.0rem;
    --etech-body-font: 'Poppins', sans-serif;
    --etech-heading-font: 'Domine', serif;
    --etech-bg-color: #00b7f1;
    --etech-theme-color: #1853af;
    --etech-hover-color: #073c8d;
    --etech-font-color: #0d0c41;
    --etech-base-color: #fff;
    --etech-shadow: 0 10px 20px rgba(197, 208, 216, 0.25);
    --etech-shadow-lg: 0 5px 15px rgba(15,39,125,0.15);
    --etech-shadow-md: 0px 20px 30px 0px rgb(1 11 60 / 10%);
    --transition: 0.3s;
    --transition-2: 0.5s;
    --transition-transform: transform .65s cubic-bezier(.23, 1, .32, 1);
    --shadow-dark: 0 10px 30px 0 rgba(20, 36, 66, .15);
    --shadow-darker: 0 10px 50px rgba(26, 46, 85, .1);
}
*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--etech-body-font);
    font-size: var(--etech-font-size-14);
    color: var(--etech-font-color);
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: var(--etech-font-color);
}
a:hover, a:focus{
    color: var(--bs-link-hover-color);
}
.sticky {
    background: var(--etech-base-color);
    box-shadow: var(--etech-shadow);
    position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 999;
}

section{
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
    z-index: 0;
}
/* .container-fluid{
    padding-right: calc(var(--bs-gutter-x) * 1);
    padding-left: calc(var(--bs-gutter-x) * 1);
} */

.f-md{
    font-size: var(--etech-font-size-18) !important;
}
.f-sm{
    font-size: var(--etech-font-size-14) !important;
}
.f-xs{
    font-size: var(--etech-font-size-10) !important;
}
.fw-600{
    font-weight: var(--etech-font-600) !important;
}
.text-gray{
    color: var(--bs-gray-500) !important;
}
.bg-white{
    background: var(--etech-base-color) !important;
}
.bg-pattern{
    background: #fff url(../images/pattern.png) !important;
}
.bg-theme{
    background: var(--etech-theme-color);
}
.bg-gray{
    background: #f4f6f9 !important;
}

.title{
    font-family: var(--etech-heading-font) !important;
    position: relative;
    padding-bottom: 1rem;
}
.title h5{
    font-size: 1rem;
    position: relative;
    display: inline-block;
    color: var(--etech-hover-color);
}
.title h5:before{
    width: 50px;
    height: 2px;
    background-color: #FF0000;
    position: absolute;
    content: '';
    left: 0;
    margin-left: -60px;
    bottom: 9px;
}
.title h1{
    margin-bottom: 1rem;
    font-size: 2.2rem;
    color: var(--etech-font-color);
    font-family: var(--etech-body-font);
    font-weight: 700;
}
.title p{
    font-family: var(--etech-body-font);
    color: #565656;
}
.form-control:focus{
    box-shadow: none;
    border-color: var(--etech-font-color);
}
.btnetech {
    padding: 10px 20px;
    outline: none;
    border: 0;
    border-radius: var(--bs-border-radius-sm);
    font-size: var(--etech-font-size-18);
    background-color: #073c8d;
    color: var(--etech-base-color);
    transition: 0.2s;
    box-shadow: 0 5px 8px rgba(0,0,0,0.1);
    display: inline-block;
}
.btnetech:hover{
    transform: translateY(4px);
    box-shadow: none;
    background-color: var(--etech-theme-color);
    color: var(--etech-base-color);
}
.shape{
    margin-top: -5rem;
}
.shape-bottom{
    margin-bottom: -5.1rem;
}

.swiper-fade .swiper-slide img{
    border-radius: 1rem;
}
.swiper-button-next:after, 
.swiper-button-prev:after{
    font-size: var(--etech-font-size-20);
    color: var(--etech-base-color);
}
.swiper-button-next, .swiper-button-prev{
    background-color: var(--etech-font-color);
    padding: 0.5rem 1.38rem;
    border-radius: 2rem;
    z-index: 99;
}
.swiper-button-next{
    right: 10px;
}
.swiper-button-prev{
    left: 10px;
}
.swiper-pagination {
    position: relative;
    margin-top: 20px;
}

/* Top Panel */
/* ================================= */
.TopHeader a {
    color: #073c8d;
}
.socialHeader {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}
.socialHeader i {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 100%;
    margin-right: 5px;
    font-size: 12px;
}
.socialHeader i:hover {
    box-shadow: 0 5px 5px rgba(149, 180, 100, 0.2);
}
.socialHeader i.ti-facebook {
    background: #4267B2;
}
.socialHeader i.ti-twitter-alt {
    background: #00ACEE;
}
.socialHeader i.ti-instagram {
    background: #AE723A;
}
.socialHeader i.ti-linkedin {
    background: #0077B5;
}
.socialHeader i.ti-youtube {
    background: #FF0000;
}

/* NavBar */
/* ======================================= */

@media all and (min-width: 992px) {
    .navbar{
        background: #fbf7f4;
        box-shadow: 0 3px 5px rgba(0,0,0,0.1);
        border-bottom: 2px solid #f5efeb;
    }
	.navbar .dropdown-menu-end{ 
        right: 0;
        left: auto;
        min-height: auto !important;
        border-radius: 0;
    }
    .navbar .dropdown-menu-end a i{
        background-color: var(--bs-gray-500);
        color: var(--etech-base-color);
        font-size: 0.6rem;
        min-width: 1.1rem;
        height: 1.1rem;
        line-height: 1.1rem;
        border-radius: var(--bs-border-radius-xl);
        text-align: center;
        margin-right: 0.5rem;
    }
    .navbar .dropdown-menu-end a:hover i{
        background-color: var(--bs-link-hover-color);
    }
    .navbar .dropdown-menu {
        display: block;
        opacity: 1;
        /* transform: translateY(20px); */
        transition: all .3s ease-in;
        visibility: hidden;
        /* min-height: 50vh; */
        box-shadow: 0 5px 20px rgba(197, 208, 216, 0.15);
    }
	.navbar .nav-item .dropdown-menu{  
        display:block; 
        opacity: 0;  
        visibility: hidden; 
        transition:.3s; 
        margin-top:10px; 
        border: 0;
        min-width: 14rem;
        border-radius: 0.5rem;
        box-shadow: 0 10px 20px rgba(15,39,125,0.4);
    }
    .navbar h6{
        font-family: var(--etech-heading-font);
    }
    .navbar .nav-link{
        padding: 10px 13px !important;
        text-decoration: none;
        font-size: var(--etech-font-size-15);
        color: #373837;
        font-weight: 500;
    }
    .navbar .login{
        padding: 10px 20px !important;
        background: var(--etech-hover-color);
        color: var(--etech-base-color) !important;
        border-radius: 0.3rem;
        margin-left: 1.5rem;
    }
	.navbar .nav-item:hover .nav-link{
        color: var(--etech-hover-color);
    }
    .navbar .dropdown-menu .dropdown-submenu.dropend .dropdown-menu {
        left: 100%;
        right: 0;
        top: -20px;
        box-shadow: 0 10px 10px rgba(15,39,125,0.14);
    }
    .navbar .dropdown-submenu:hover>.dropdown-menu, .navbar .dropdown:hover>.dropdown-menu {
        opacity: 1;
        transform: scaleY(1);
        visibility: visible;
    }
    .dropdown-menu a, .dropdown-submenu a{
        color: #101010;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1.5rem;
        text-decoration: none;
        font-size: var(--etech-font-size-12);
    }
    .dropdown-menu a:hover, .dropdown-submenu a:hover, .dropdown-menu a:focus, .dropdown-submenu a:focus{
        color: var(--etech-bg-color);
    }
}
/* Banner Panel */
/* ================================= */
.bannerPanel{
    position: relative;
    background: #fbf7f4;
}
.bannerPanel h1{
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--etech-hover-color);
    font-family: var(--etech-heading-font);
    letter-spacing: 3px;
    margin-bottom: 1rem;
}
/* .bannerPanel h1 span{
    color: #ff9800;
} */
.bannerPanel h2{
    color: var(--etech-font-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 2rem;
}
.bannerPanel h5{
    color: var(--etech-font-color);
    font-size: 1.5rem;
    font-weight: 400;
}
/* Counter Panel */
/* ================================= */
.counterMain{
    background: linear-gradient(90deg, rgba(76,1,224,1) 0%, rgba(138,42,225,1) 100%);
    position: relative;
    margin-top: -4rem;
    padding: 3rem;
    border-radius: 2rem;
    color: var(--etech-base-color);
}

.itemCount img{
    width: 60px;
}
.itemCount h2{
    margin-bottom: 0;
    font-size: 2rem;
    color: var(--etech-base-color);
    font-family: var(--etech-heading-font);
}
.itemCount p{
    margin-bottom: 0.5rem;
}
/* Features Panel */
/* ================================= */
.featureBox ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.featureBox ul li{
    display: block;
    position: relative;
    border: 1px solid #faac2d;
    border-radius: 0.4rem;
    margin: 5px 0;
    border-left: 3px solid #FF0000;
}
.featureBox ul li:nth-child(even){
    border-left: 3px solid var(--etech-theme-color)
}
.featureBox ul li:hover{
    background: #171751;
}
.featureBox ul li a{
    display: block;
    padding: 12px 20px;
    position: relative;
    font-size: 15px;
    font-weight: 500;
}
.featureBox ul li a:hover{
    color: var(--etech-base-color);
}


/* Invoicing Panel */
/* ====================================== */
.invoicing{
    background: #ffeee6;
    padding: 0;
    border-radius: 1rem;
    position: relative;
}
.invoicing p{
    font-size: 1.1rem;
}
.invoicing span{
    font-size: 2rem;
    color: #764898;
    font-weight: 600;
}

/* Singup Panel */
/* ====================================== */
.crm_signup{
    position: relative;
    background: url(../images/crm_bg.jpg) center no-repeat;
    background-size: cover;
}
.crm_signup:after{
    position: absolute;
    width: 100%;
    height: 40%;
    background: #f85366;
    content: '';
    bottom: 0;
    left: 0;
}
.crm_signup h1{
    color: #fff;
    font-size: 2.2rem;
}
.signupBox{
    color: var(--etech-base-color);
    background: #0865f8;
    padding: 3rem;
    position: relative;
    z-index: 1;
}
.signupBox i{
    position: absolute;
    left: 20px;
    top: 16px;
    font-size: 18px;
}
    .signupBox input, .signupBox textarea{
        padding: 0.5rem 0.5rem 0.5rem 3.5rem;
        background: #3385fe;
        color: var(--etech-base-color);
        border: 1px solid #4c8ff9;
        width: 100%;
        font-size: 15px;
        min-height: 50px;
    }
        .signupBox input::placeholder, .signupBox textarea::placeholder {
            color: #eee;
        }
.signupBox button{
    height: 50px;
    width: 100%;
    background: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.2s;
    font-weight: 500;
}
.signupBox button:hover{
    transform: translateY(4px);
    background: var(--etech-hover-color);
    color: var(--etech-base-color);
}
.shape-bottom {
    bottom: 0;
    left: 0;
    right: 0;
}

.shape {
    pointer-events: none;
    position: absolute;
}

/* Software Panel */
/* ====================================== */
.softwarePanel{
 /*   background: url(../images/softwate_bg.png) center;*/
    position: relative;
}
.itemBox {
    box-shadow: 0px 5px 10px rgb(0 0 0 / 20%);
    border-radius: 10px;
    font-size: 1.3rem;
    color: var(--let-font-color);
    background: #9543ee;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 2rem 1rem;
    margin: 0.75rem 0;
}
.itemBox:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: url(../images/shape2.svg) bottom right no-repeat;
    right: 0;
    background-size: cover;
    top: 0;
    z-index: 0;
    border-radius: 0 10px 10px;
}
.itemBox img{
    width: 70px;
    position: relative;
    margin-bottom: 20px;
}
.itemBox h4{
    color: var(--etech-base-color);
    position: relative; 
    font-size: 20px;
    font-weight: 400;
}

/* Clients */
/* ============================= */
.client{
    padding-top: 7rem;
    padding-bottom: 6rem;
    position: relative;
/*    background: url(../images/bg-client.jpg) center;*/
    background: #522e30;
}
.client:before {
    content: '';
    background: url(../images/logo-bg-top.svg) no-repeat center top;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    z-index: 1;
}
.client:after {
    content: '';
    /*background: url(../images/logo-bg-btm.svg) no-repeat center bottom;*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    z-index: 1;
}
.client2{
    padding-top: 7rem;
    padding-bottom: 6rem;
    position: relative;
/*    background: url(../images/bg-client.jpg) center;*/
    background: #522e30;
}
.client2:before {
    content: '';
    background: url(../images/logo-bg-top.svg) no-repeat center top;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    z-index: 1;
}
.client2:after {
    content: '';
    background: url(../images/logo-bg-btm2.svg) no-repeat center bottom;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    z-index: 1;
}
/* Benefits */
/* ================================= */
.list_facts_wrap {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
}
.list_facts {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1rem;
    background: #f2f2f2;
    padding: 15px;
    /*min-height:185px;*/
}
.list_facts_icons {
    width: 70px;
    height: 70px;
    background: rgb(255 255 255 / 100%);
    box-shadow: 0 7px 15px rgb(0 22 84 / 10%);
    -webkit-box-shadow: 0 7px 15px rgb(0 22 84 / 10%);
    border-radius: 6px;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #d90b4e;
}
.list_facts_icons img{
    width: 50px;
}
.list_facts_caption{
    width: calc(100% - 80px);
}
.list_facts_caption h4 {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    color: #101010;
}
.list_facts_caption p {
    margin: 0;
    font-size: 14px;
}

/* FAQ Panel */
/* ================================= */
.faqPanel{
    background: url(../images/faq-bg.jpg) center no-repeat;
    position: relative;
}
.faqPanel .accordion-item {
    background-color: #fff;
    border: 1px solid #0865f8;
    margin-bottom: 10px;
    border-radius: 0;
}
.faqPanel .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.faqPanel .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.faqPanel .accordion-button {
    overflow-anchor: none;
    align-items: center;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    color: var(--etech-font-color);
    display: flex;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.95rem 1.25rem 0.95rem 3.5rem;
    position: relative;
    text-align: left;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
    width: 100%;
}
.faqPanel .accordion-button:focus{
    box-shadow: none;
}
.faqPanel .accordion-button:not(.collapsed){
    box-shadow: none;
}
.faqPanel .accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: 100%;
    margin-left: auto;
    content: "";
    background: #0865f8 var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.faqPanel .accordion-button:not(.collapsed)::after {
    background: #0865f8 var(--bs-accordion-btn-active-icon);
    transform: var(--bs-accordion-btn-icon-transform);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.testiBoxMain{
    border-radius: 1rem;
    background: #fef7f1;
    position: relative;
    /* height: 100%; */
    padding: 4rem 3rem;
}
.testiBox {
    padding: 2rem;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: var(--etech-base-color);
    border-bottom: 4px solid #0865f8;
}
.testiBox img {
    width: 80px;
    height: 80px;
    border: 4px solid #fff;
    box-shadow: 0 10px 20px rgb(141 169 188 / 20%);
    border-radius: 50%;
    display: block;
    position: relative;
    margin-right: 15px;
}
.testiBox .content {
    width: calc(100% - 95px);
    display: flex;
    flex-direction: column;
}
.testiBox .content h6 small {
    display: block;
    font-size: var(--etech-font-size-12);
    color: #0865f8;
    margin-top: 5px;
    font-weight: 400;
}
.testiBox p{
    margin-bottom: 0;
}

/* Footer Panel */
/* ================================= */
footer{
    padding: 3rem 0 2rem;
    background: url(../images/footer-bg.png) bottom no-repeat;
    background-color:#eee;
}
footer h4{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1.2rem;
    color: var(--etech-hover-color);
}
footer .widgetFoot {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
footer .widgetFoot li {
    display: block;
    font-size: var(--etech-font-size-14);
    margin-bottom: 0.5rem;
}
footer .widgetFoot li i{
    font-size: var(--etech-font-size-12);
    margin-right: 5px;
}
footer a {
    color: var(--etech-font-color);
}
footer a:hover{
    color: var(--etech-hover-color);
}


/* Subcription Panel */
/* ==================================== */
.subcription{
    background: #f4f6f9;
}
.subcripBox{
    background: var(--etech-base-color);
    padding: 2rem;
    position: relative;
    box-shadow: var(--etech-shadow-lg);
}
.subcripBox .accordion-item {
    background-color: #fff;
    border: 0;
    margin-bottom: 10px;
    border-radius: 5px;
}
.subcripBox .accordion-item:last-child{
    margin-bottom: 0;
}
/* .subcripBox .accordion-item:first-of-type .accordion-button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
} */
/* .subcripBox .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
} */
.subcripBox .accordion-button {
    overflow-anchor: none;
    align-items: center;
    background-color: var(--etech-font-color);
    border: 0;
    border-radius: 0;
    color: var(--etech-base-color);
    display: flex;
    justify-content:space-between;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.95rem 1.25rem;
    position: relative;
    text-align: left;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
    width: 100%;
}
.subcripBox .accordion-button:focus{
    box-shadow: none;
}
.subcripBox .accordion-button::after {
    display:none;
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-repeat: no-repeat;
    background-size: 20px !important;
    transition: var(--bs-accordion-btn-icon-transition);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  /*  background: url(../images/plus.png);*/
  background:none;
}
.subcripBox .accordion-button:not(.collapsed)::after {
    transform: var(--bs-accordion-btn-icon-transform);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
   /* background: url(../images/minus.png);*/
   background:none;
}
.subcripBox .accordion-button:not(.collapsed){
    background: #6818af;
}
.subcripBox .accordion-body{
    background: #fbf9ff;
}
.subcripBox ul{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px dashed #e5dfeb;
    margin-bottom: 15px;
    font-size: 16px;
}
    .subcripBox ul li{
        flex:1;
    }
        .subcripBox ul li:last-child{
    text-align: right;
    display: flex;
    flex-direction: column;
}
.subcripBox ul li span{
    font-weight: 500;
    color: #000;
}
.subcripBox .form-check-input:focus{
    box-shadow: none;
}
.subcripBox .form-check-input:checked {
    background-color: var(--etech-hover-color);
    border-color: var(--etech-hover-color);
}
.subcripBox .form-switch .form-check-input{
    width: 3.4em;
    height: 1.8em;
    border-radius: 2rem !important;
}
.subcripBox .form-check-input{
    width: 1.2em;
    height: 1.2em;
}
.subcripBox .form-check-input[type=checkbox] {
    border-radius: 0;
}
.subcripBox .form-check label{
    line-height: 1.8;
}

/* Contact Panel */
/* ==================================== */
.contactMain{
    position: relative;
}
.contactMain:after {
    position: absolute;
    width: 100%;
    height: 50%;
    background: #eee;
    content: '';
    bottom: 0;
    left: 0;
    z-index: -1;
}
.contBox{
    background: #fff3eb;
    padding: 2.5rem 3rem;
    position: relative;
    box-shadow: var(--etech-shadow-lg);
}
.contBox .item{
    position: relative;
    padding-left: 70px;
    margin-bottom: 2rem;
}
.contBox .item:last-child{
    margin-bottom: 0;
}
.contBox .item h4{
    font-size: 18px;
    margin-bottom: 5px;
}
.contBox .item img{
    position: absolute;
    left: 0;
    top: 0;
}
.contBox .item p{
    font-size: 15px;
    margin-bottom: 0;
}
.enquiryBox{
    background: var(--etech-base-color);
    padding: 2.5rem;
    position: relative;
    box-shadow: var(--etech-shadow-lg);
}
.enquiryBox label{
    margin-bottom: 5px;
}
.enquiryBox .form-control{
    min-height: 45px;
    border-radius: 0;
}
.enquiryBox .form-check{
    border-radius: 30px;
    border: 1px solid #ddd;
    background: #fbf7f4;
    padding: 12px 15px 12px 35px;
}
.enquiryBox .form-check label{
    margin-bottom: 0;
}
.enquiryBox .form-select{
    min-height: 45px;
    border-radius: 0;
}
.banner h2 {
    color: var(--etech-base-color);
    font-size: 2rem;
    font-weight: 700;
}

.active {
    color: #073c8d !important;
}

/*About Features*/
.list_facts_features {
    background: #ebebeb !important;
    min-height:210px;
}


.subcription select {
    display: none !important;
}

.dropMain {
    position: relative;
    z-index: 99;
}

.dropdown-select {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#00FFFFFF', GradientType=0);
    background-color: #fff;
    border-radius: 6px;
    border: solid 1px #d2d2d2;
    /* box-shadow: 0px 2px 5px 0px rgba(155, 155, 155, 0.5); */
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    z-index: 1;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
}

    .dropdown-select:focus {
        background-color: #fff;
    }

    .dropdown-select:hover {
        background-color: #fff;
    }

    .dropdown-select:active,
    .dropdown-select.open {
        background-color: #fff !important;
        border-color: #bbb;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
    }

    .dropdown-select:after {
        height: 0;
        width: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #777;
        -webkit-transform: origin(50% 20%);
        transform: origin(50% 20%);
        transition: all 0.125s ease-in-out;
        content: '';
        display: block;
        margin-top: -2px;
        pointer-events: none;
        position: absolute;
        right: 10px;
        top: 50%;
    }

    .dropdown-select.open:after {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    .dropdown-select.open .list {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        pointer-events: auto;
    }

    .dropdown-select.open .option {
        cursor: pointer;
        font-size: 14px;
        text-align: left;
        width: 100%;
    }

    .dropdown-select.wide {
        width: 100%;
    }

        .dropdown-select.wide .list {
            left: 0 !important;
            right: 0 !important;
        }

    .dropdown-select .list {
        box-sizing: border-box;
        transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
        background-color: #fff;
        border-radius: 5px;
        margin-top: 4px;
        /* padding: 3px 0; */
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        top: 100%;
        left: 0;
        /*z-index: 999;*/
       
        /* border: 1px solid #ddd; */
    }

        .dropdown-select .list:hover .option:not(:hover) {
            background-color: transparent !important;
        }

    .dropdown-select .dd-search {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.5rem 1rem;
    }

    .dropdown-select .dd-searchbox {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #999;
        border-color: #999;
        border-radius: 4px;
        outline: none;
        height: 40px;
    }

        .dropdown-select .dd-searchbox:focus {
            border-color: var(--etech-bg-color);
        }

    .dropdown-select .list ul {
        padding: 0;
        flex-direction: column;
        justify-content: start;
        border: 0;
        margin-bottom: 0;
        max-height: 250px;
        overflow: auto;
    }

    .dropdown-select .option {
        cursor: default;
        font-weight: 400;
        line-height: 34px;
        outline: none;
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
        transition: all 0.2s;
        list-style: none;
    }

        .dropdown-select .option:hover,
        .dropdown-select .option:focus {
            background-color: #f6f6f6 !important;
        }

        .dropdown-select .option.selected {
            font-weight: 600;
            color: var(--etech-bg-color);
        }

            .dropdown-select .option.selected:focus {
                background: #f6f6f6;
            }

    .dropdown-select a {
        color: #aaa;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
    }

        .dropdown-select a:hover {
            color: #666;
        }

/* ======================= */
/* RESPONSIVE PANEL */
/* ============================================ */
@media(max-width:800px){
    section{
        padding: 3.5rem 0;
    }
   /* .TopHeader{
        display: none;
    }*/
    .navbar-nav {
        background: #f2f2f2;
        padding: 0.5rem 1.25rem;
        margin-top: 0.5rem;
    }
    .counterMain{
        margin-top: 2rem;
    }
    .counterMain{
        padding: 2rem;
    }
    .itemCount{
        margin: 0.5rem 0;
    }
    .itemCount img{
        width: 50px;
    }
    .invoicing{
        padding: 1.5rem;
    }
    .crm_signup h1{
        margin-top: 2rem;
        font-size: 1.4rem;
    }
    .signupBox{
        padding: 2rem;
        margin-bottom: 1rem;
    }
    .faqPanel{
        padding-top: 1rem;
        background-size: cover;
    }
    .accordion{
        margin-bottom: 2rem;
    }
    .testiBoxMain{
        padding: 1.5rem;
    }
    .socialHeader{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    footer .widgetFoot{
        margin-bottom: 1.5rem;
    }
    .subcripBox{
        padding: 1rem;
    }
    .enquiryBox{
        padding: 1.5rem;
        margin-bottom: 2rem;
    }
    .contBox{
        padding: 1.5rem;
    }
    .contBox .item{
        padding-left: 60px;
    }
}

/*Custom css*/
.text-right{
    text-align:right;
}