@{
    ViewBag.Title = Request.Cookies["data"].Value.Split('&')[8].Split('=')[1] + " | Add Station Type";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add Station Type</h1>
                <div class="float-left">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard/index">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/settings/index">Settings</a></li>
                        <li class="breadcrumb-item"><a href="/stationtype/index">Station Types</a></li>
                        <li class="breadcrumb-item active">Add Station Type</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-6 col-12 d-flex align-items-center justify-content-start justify-content-md-end mt-1 mt-md-0">
                <a id="btnBack" href="/stationtype/index" class="btn btn-warning float-sm-right"><i class="fas fa-arrow-left"></i> Back</a>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <form id="stationTypeForm">
                        <input type="hidden" id="StationTypeId" name="StationTypeId" value="0" />
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Station Type Name <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control divStationTypeName_ctrl" id="txtStationTypeName" name="StationTypeName" placeholder="e.g., Main, Cold, Hot, Dessert, Beverage, etc.">
                                        <small class="text-red font-weight-bold errorText" id="divStationTypeName" style="display: none;"></small>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea class="form-control divDescription_ctrl" id="txtDescription" name="Description" rows="3" placeholder="Optional description"></textarea>
                                        <small class="text-red font-weight-bold errorText" id="divDescription" style="display: none;"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button id="btnSave" type="button" class="btn btn-primary float-right" onclick="insertStationType(1)"><i class="fas fa-save"></i> Save</button>
                            <button id="btnSave_AddAnother" type="button" class="btn btn-success float-right mr-2" onclick="insertStationType(2)"><i class="fas fa-plus-circle"></i> Save & Add Another</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Content/JQuery/Customer/Restaurant/StationType.js"></script>

