



@{
    <table id="tblData" class="table table-bordered tblData">
        <thead id="thead">
            <tr class="bg-secondary">
                <th>Pt. I </th>
                <th colspan="2" class="text-center">Basic Details</th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr>
                <td>1 </td>
                <td>Financial Year</td>
                <td>2017-2018</td>
            </tr>
            <tr>
                <td>2</td>
                <td>GSTIN</td>
                <td>112222222222222</td>
            </tr>
            <tr>
                <td> 3</td>
                <td>Trade Name (if any)</td>
                <td>Self</td>
            </tr>
            <tr>
                <td> 4</td>
                <td>Period of composition scheme during the year (From ---- To ----)</td>
                <td>01/07/2017 - 31/03/2018</td>
            </tr>
            <tr>
                <td> 5</td>
                <td>Aggregate Turnover of Previous Financial Year</td>
                <td>2017-2018</td>
            </tr>
        </tbody>
    </table>

    <table id="tblData" class="table table-bordered tblData">
        <thead id="thead">
            <tr class="bg-secondary">
                <th>Pt. II	 </th>
                <th colspan="7" class="text-center">Details of outward and inward supplies declared in returns filed during the financial year</th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr>
                <td rowspan="3"> </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="4" class="text-center">(Amount in ₹ in all tables)</td>
            </tr>
            <tr>
                <td> Description</td>
                <td>Turnover</td>
                <td>Rate of Tax</td>
                <td>Central Tax</td>
                <td>State Tax / UT Tax</td>
                <td>Integrated Tax</td>
                <td>Cess</td>
            </tr>
            <tr>
                <td> 1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
            </tr>
            <tr class="bg-secondary">
                <td>6</td>
                <td colspan="7">Details of Outward supplies on which tax is payable as declared in returns filed during the financial year</td>
            </tr>
            <tr>
                <td> A</td>
                <td>Taxable</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td> B</td>
                <td>Exempted, Nil-rated</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td> C</td>
                <td>Total</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="bg-secondary">
                <td>7</td>
                <td colspan="7">
                    Details of inward supplies on which tax is payable on reverse charge
                    basis (net of debit/credit notes) declared in returns filed during the financial year
                </td>
            </tr>
            <tr>
                <td rowspan="3"></td>
            </tr>
            <tr>
                <td>Description</td>
                <td colspan="2">Taxable Value</td>
                <td>Central Tax</td>
                <td>State/UT Tax</td>
                <td>Integrated Tax</td>
                <td>Cess</td>
            </tr>
            <tr>
                <td>1</td>
                <td colspan="2">2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
            <tr>
                <td>A</td>
                <td>Inward supplies liable to reverse charge received from registered persons</td>
                <td colspan="2"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>B</td>
                <td>Inward supplies liable to reverse charge received from unregistered persons</td>
                <td colspan="2"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>C</td>
                <td>Import of services</td>
                <td colspan="2"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>D</td>
                <td>Net Tax Payable on (A), (B) and (C) above</td>
                <td colspan="2"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="bg-secondary">
                <td>8</td>
                <td colspan="7">
                    Details of other inward supplies as declared in returns filed during the financial year
                </td>
            </tr>
            <tr>
                <td>A</td>
                <td>Inward supplies from registered persons (other than 7A above)</td>
                <td colspan="2"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>B</td>
                <td>Import of Goods</td>
                <td colspan="2"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <table id="tblData" class="table table-bordered tblData">
        <thead id="thead">
            <tr class="bg-secondary">
                <th>Pt. III </th>
                <th colspan="7" class="text-center">Details of tax paid as declared in returns filed during the financial year</th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr>
                <td rowspan="10">9 </td>
            </tr>
            <tr>
                <td>Description </td>
                <td>Total Tax Payable</td>
                <td>Paid</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td> Integrated Tax	</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td> Central Tax</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td> State/UT Tax</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td> Cess</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td> Interest</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td> Late fee</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td> Penalty</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <table id="tblData" class="table table-bordered tblData">
        <thead id="thead">
            <tr class="bg-secondary">
                <th>Pt. IV </th>
                <th colspan="6" class="text-center">
                    Particulars of the transactions for the previous FY declared in returns of April
                    to September of current FY or upto date of filing of annual return of previous FY whichever is earlier
                </th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr>
                <td rowspan="3"> </td>
            </tr>
            <tr>
                <td>Description </td>
                <td>Turnover</td>
                <td>Central Tax</td>
                <td>State/UT Tax</td>
                <td>Integrated Tax</td>
                <td>Cess</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Supplies / tax declared through Amendments (+) (net of debit notes)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>11</td>
                <td>Inward supplies liable to reverse charge declared through Amendments (+) (net of debit notes)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>12</td>
                <td>Supplies / tax reduced through Amendments (-) (net of credit notes)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>13</td>
                <td>Inward supplies liable to reverse charge reduced through Amendments (-) (net of credit notes)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="bg-secondary">
                <td>14</td>
                <td colspan="6">Differential tax paid on account of declaration made in 10, 11, 12 & 13 above</td>
            </tr>
            <tr>
                <td rowspan="8"></td>
            </tr>
            <tr>
                <td colspan="2">Description</td>
                <td colspan="2">Payable</td>
                <td colspan="2">Paid</td>
            </tr>
            <tr>
                <td colspan="2">1</td>
                <td colspan="2">2</td>
                <td colspan="2">3</td>
            </tr>
            <tr>
                <td colspan="2">Integrated Tax</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="2">Central Tax</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="2">State/UT Tax</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="2">Cess</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="2">Interest</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
        </tbody>
    </table>

    <table id="tblData" class="table table-bordered tblData">
        <thead id="thead">
            <tr class="bg-secondary">
                <th>Pt. V </th>
                <th colspan="8" class="text-center">
                    Other Information
                </th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr>
                <td>15 </td>
                <td colspan="8">Particulars of Demands and Refunds</td>
            </tr>
            <tr>
                <td rowspan="3"> </td>
            </tr>
            <tr>
                <td>Description </td>
                <td>Central Tax</td>
                <td>State/UT Tax</td>
                <td>Integrated Tax</td>
                <td>Cess</td>
                <td>Interest</td>
                <td>Penalty</td>
                <td>Late Fee / Others</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
            </tr>
            <tr>
                <td>A</td>
                <td>Total Refund claimed</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>B</td>
                <td>Total Refund sanctioned</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>C</td>
                <td>Total Refund Rejected</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>D</td>
                <td>Total Refund Pending</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>E</td>
                <td>Total demand of taxes</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>E</td>
                <td>Total taxes paid in respect of E above</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>G</td>
                <td>Total demands pending out of E above</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="bg-secondary">
                <td>16</td>
                <td colspan="8">Details of credit reversed or availed</td>
            </tr>
            <tr>
                <td rowspan="3"> </td>
            </tr>
            <tr>
                <td colspan="4">Description </td>
                <td>Central Tax</td>
                <td>State/UT Tax</td>
                <td>Integrated Tax</td>
                <td>Cess</td>
            </tr>
            <tr>
                <td colspan="4">1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
            </tr>
            <tr>
                <td>A</td>
                <td colspan="4">Credit reversed on opting in the composition scheme (-)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>B</td>
                <td colspan="4">Credit availed on opting out of the composition scheme (+)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="bg-secondary">
                <td>17</td>
                <td colspan="8">Late fee payable and paid</td>
            </tr>
            <tr>
                <td rowspan="3"> </td>
            </tr>
            <tr>
                <td colspan="4">Description </td>
                <td colspan="2">Payable</td>
                <td colspan="2">Paid</td>
            </tr>
            <tr>
                <td colspan="4">1</td>
                <td colspan="2">2</td>
                <td colspan="2">3</td>
            </tr>
            <tr>
                <td>A</td>
                <td colspan="4">Central Tax</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>B</td>
                <td colspan="4">State Tax</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
        </tbody>
    </table>
}
<script type="text/javascript">
    $('#divAsof').text('Showing Results: (' + @Html.Raw(Json.Encode(ViewBag.FromDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]) + " - " + ViewBag.ToDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1])))+')');
        @*$('#divTotalCount').text('Total : '+@Html.Raw(Json.Encode(ViewBag.TotalCount)));
        $('#divActiveCount').text('Active : '+@Html.Raw(Json.Encode(ViewBag.ActiveCount)));
        $('#divInactiveCount').text('In-Active : '+@Html.Raw(Json.Encode(ViewBag.InactiveCount)));*@
</script>

