
@{
    ViewBag.Title = Request.Cookies["data"].Value.Split('&')[8].Split('=')[1] + " | Add Ticket";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add Ticket</h1>
                <div class="float-left">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard/index">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/settings/index">Settings</a></li>
                        <li class="breadcrumb-item"><a href="/supportsettings/supportticket">Support Ticket List</a></li>
                        <li class="breadcrumb-item active">Add Ticket </li>
                    </ol>
                </div>
            </div>
            <div class="col-md-6 col-12 d-flex align-items-center justify-content-start justify-content-md-end mt-1 mt-md-0">
                <a id="btnBack" href="/supportsettings/supportticket" class="btn btn-warning float-sm-right"><i class="fas fa-arrow-left"></i> Back</a>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                @*<div class="callout callout-info @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")">
                    <h5><i class="fas fa-info"></i> Note:</h5>
                    This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
                </div>*@
                <!-- jquery validation -->
                <div class="card card-primary card-outline">

                    <!-- form start -->
                    <div id="quickForm">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Help Topic <span class="danger">*</span></label>
                                        <div class="input-group divHelpTopic_ctrl">
                                            <select class="form-control" style="width: 100%;" id="ddlHelpTopic">
                                                <option value="0">Select</option>
                                                <option value="1">Technical Support</option>
                                                <option value="2">Sales Support</option>
                                                <option value="3">Renewal Support</option>
                                                <option value="4">Addons Upgrade Support</option>
                                                <option value="5">Other</option>
                                            </select>
                                            <small class="text-red font-weight-bold errorText" id="divHelpTopic"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Subject <span class="danger">*</span></label>
                                        <input type="text" class="form-control divSubject_ctrl" id="txtSubject" placeholder="">
                                        <small class="text-red font-weight-bold errorText" id="divSubject"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Message <span class="danger">*</span></label>
                                        <textarea class="form-control divMessage_ctrl" id="txtMessage" style="height:100px"></textarea>
                                        <small class="text-red font-weight-bold errorText" id="divMessage"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblProductImage">Attachment1 </label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="Attachment1" accept='.png,.jpg,.jpeg' onchange="getProductImageBase64(1)">
                                            <label class="custom-file-label" for="Attachment1">Choose file</label>
                                        </div>
                                        <img id="blahAttachment1" alt="" height="60" style="padding-top:10px;">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblProductImage">Attachment2 </label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="Attachment2" accept='.png,.jpg,.jpeg' onchange="getProductImageBase64(2)">
                                            <label class="custom-file-label" for="Attachment2">Choose file</label>
                                        </div>
                                        <img id="blahAttachment2" alt="" height="60" style="padding-top:10px;">
                                    </div>
                                </div>                               
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblProductImage">Attachment3 </label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="Attachment3" accept='.png,.jpg,.jpeg' onchange="getProductImageBase64(3)">
                                            <label class="custom-file-label" for="Attachment3">Choose file</label>
                                        </div>
                                        <img id="blahAttachment3" alt="" height="60" style="padding-top:10px;">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblProductImage">Attachment4 </label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="Attachment4" accept='.png,.jpg,.jpeg' onchange="getProductImageBase64(4)">
                                            <label class="custom-file-label" for="Attachment4">Choose file</label>
                                        </div>
                                        <img id="blahAttachment4" alt="" height="60" style="padding-top:10px;">
                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblProductImage">Attachment5 </label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="Attachment5" accept='.png,.jpg,.jpeg' onchange="getProductImageBase64(5)">
                                            <label class="custom-file-label" for="Attachment5">Choose file</label>
                                        </div>
                                        <img id="blahAttachment5" alt="" height="60" style="padding-top:10px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button id="btnSave" type="submit" class="btn btn-primary float-right" onclick="insert()">Submit</button>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<script src="~/Content/JQuery/Customer/Settings/SupportSettings/SupportTicket.js"></script>

