
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/Content/web-assets/images/favicon.jpg" type="image/x-icon">
    <title>@ViewBag.BusinessSetting.BusinessName | Forgot Password</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/assets/css/adminlte.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/Content/plugins/toastr/toastr.min.css">
    <link href="~/Content/assets/css/admin.css" rel="stylesheet" />
    <style>
        .goog-logo-link {
            display: none !important;
        }

        .goog-te-gadget {
            color: transparent !important;
            font-size: 0 !important;
        }

            .goog-te-gadget .goog-te-combo {
                /*padding: 0.375rem 0.75rem;*/
                padding: 0.575rem 0.75rem;
                /*color: #495057;*/
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
            }

            .goog-te-gadget .goog-te-combo {
                margin: 0 !important;
            }

        body > .skiptranslate {
            display: none;
        }

        .skiptranslate span {
            display: none;
        }

        body {
            top: 0 !important
        }

        #goog-gt-tt, .goog-te-balloon-frame {
            display: none !important;
        }

        .goog-text-highlight {
            background: none !important;
            box-shadow: none !important;
        }

        .VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc{
            display:none;
        }

    </style>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/home"><img src="@ViewBag.BusinessSetting.BusinessLogo" style=" width: 222px; display: block; margin-left: auto; margin-right: auto;" /></a>
        </div>
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-body login-card-body">
                <div id="google_translate_element" style="text-align:right"></div><br />
                <p class="login-box-msg">Forgot Password</p>
                <div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email Id *" id="txtEmailId">
                        <div class="input-group-append ml-0">
                            <div class="input-group-text" style="border-left: 1px solid #ced4da;">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @*<div class="col-8">
                                <div class="icheck-primary">
                                    <input type="checkbox" id="chkIsRememberMe">
                                    <label for="chkIsRememberMe">
                                        Remember Me
                                    </label>
                                </div>
                            </div>*@
                        <div class="col-8">
                            <a href="/adminlogin" class="" onclick="login()">I remember my password</a>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <a href="javascript:void(0)" class="btn btn-primary btn-block" onclick="forgotPassword()">Submit</a>
                        </div>
                        <!-- /.col -->
                    </div>
                    @*<p class="mb-0">
                            <a href="/login" class="" onclick="login()">I already have a membership</a>
                        </p>*@
                </div>

                <!-- /.social-auth-links -->
                @*<p class="mb-1">
                        <a href="/login">Login In</a>
                    </p>*@

            </div>
            <!-- /.login-card-body -->
            <p class="login-box-msg text-danger" style="font-size:0.9rem;">Don't forget to check your spam folder </p>
        </div>

    </div>

    <!-- /.login-box -->

    <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; z-index: 30001; opacity: 0.8;display:none">
        <div class="overlay-wrapper">
            <div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i><div class="text-bold pt-2">Loading...</div></div>
        </div>
    </div>

    <audio id="success"><source src="~/Content/Audio/success.mp3"></audio>
    <audio id="error"><source src="~/Content/Audio/error.mp3"></audio>

    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- SweetAlert2 -->
    <script src="~/Content/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="~/Content/plugins/toastr/toastr.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/assets/js/adminlte.min.js"></script>
    <script src="~/Content/JQuery/Admin/ForgotPassword.js"></script>

    @*<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>

    <script type="text/javascript">
        var googtrans = Cookies.get('googtrans');
        if (!googtrans) {
            Cookies.set('googtrans', '/auto/en');
        }
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: '' }, 'google_translate_element');
        }
    </script>
</body>
</html>