@{
    ViewBag.Title = Request.Cookies["data"].Value.Split('&')[8].Split('=')[1] + " | Restaurant Dashboard";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Restaurant Dashboard</h1>
                <div class="float-left">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard/index">Dashboard</a></li>
                        <li class="breadcrumb-item active">Restaurant Dashboard</li>
                    </ol>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="float-sm-right mt-2">
                    <label class="mr-2">Business Location</label>
                    <select class="form-control select2 d-inline-block" id="ddlBranch" style="width: 200px;">
                        <option value="0">Select Branch</option>
                        @if (ViewBag.Branchs != null)
                        {
                            foreach (var item in ViewBag.Branchs)
                            {
                                <option value="@item.BranchId">@item.Branch</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content" id="p_div">
    @Html.Partial("PartialRestaurantDashboard")
</section>

<script src="~/Content/JQuery/Customer/Restaurant/RestaurantDashboard.js"></script>

