
@{
    ViewBag.Title = Request.Cookies["data"].Value.Split('&')[8].Split('=')[1] + " | User Permission";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}



<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>User Permission</h1>
            </div>
           
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-12">

                <!-- /.card -->
                <div class="card  card-primary card-outline">
                    <div class="card-header">
                      
                            <div class="form-group col-4">
                                <label>Role</label>
                                <select class="form-control" id="Gender">
                                    <option id="Male">Admin</option>
                                    <option id="Female">Super admin</option>
                                    <option id="Others">Others</option>
                                </select>
                            </div>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tblUserRole" class="table table-bordered">
                            <thead class="bg-primary">
                                <tr>
                                    <th>Modules</th>

                                    <th>Select All </th>

                                    <th>Add</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Users</td>
                                    <td>
                                        <div class="checkbox icheck-turquoise">
                                            <input type="checkbox" checked id="selectall" />
                                            <label for="selectall"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox icheck-info">
                                            <input type="checkbox" checked id="add" />
                                            <label for="add"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox icheck-sunflower">
                                            <input type="checkbox" checked id="edit" />
                                            <label for="edit"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox icheck-danger">
                                            <input type="checkbox" checked id="delete" />
                                            <label for="delete"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox icheck-emerland">
                                            <input type="checkbox" checked id="view" />
                                            <label for="view"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Roles</td>
                                    <td>
                                        <div class="checkbox icheck-turquoise">
                                            <input type="checkbox" checked id="selectall" />
                                            <label for="selectall"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox icheck-info">
                                            <input type="checkbox" checked id="add" />
                                            <label for="add"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox icheck-sunflower">
                                            <input type="checkbox" checked id="edit" />
                                            <label for="edit"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox icheck-danger">
                                            <input type="checkbox" checked id="delete" />
                                            <label for="delete"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox icheck-emerland">
                                            <input type="checkbox" checked id="view" />
                                            <label for="view"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tax</td>
                                    <td>
                                        <div class="checkbox icheck-turquoise">
                                            <input type="checkbox" checked id="selectall" />
                                            <label for="selectall"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox icheck-info">
                                            <input type="checkbox" checked id="add" />
                                            <label for="add"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox icheck-sunflower">
                                            <input type="checkbox" checked id="edit" />
                                            <label for="edit"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox icheck-danger">
                                            <input type="checkbox" checked id="delete" />
                                            <label for="delete"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox icheck-emerland">
                                            <input type="checkbox" checked id="view" />
                                            <label for="view"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Currency</td>
                                    <td>
                                        <div class="checkbox icheck-turquoise">
                                            <input type="checkbox" checked id="selectall" />
                                            <label for="selectall"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox icheck-info">
                                            <input type="checkbox" checked id="add" />
                                            <label for="add"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox icheck-sunflower">
                                            <input type="checkbox" checked id="edit" />
                                            <label for="edit"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox icheck-danger">
                                            <input type="checkbox" checked id="delete" />
                                            <label for="delete"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox icheck-emerland">
                                            <input type="checkbox" checked id="view" />
                                            <label for="view"></label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->