
@{
    ViewBag.Title = Request.Cookies["data"].Value.Split('&')[8].Split('=')[1] + " | Location";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Location List</h1>

            </div>
            <div class="col-sm-6">
                <a id="btnNew" href="/master/locationadd" class="btn btn-primary float-sm-right mr-2"><i class="fas fa-plus"></i> Add New</a>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-12">

                <!-- /.card -->
                <div class="card  card-primary card-outline">
                    <div class="card-header">
                        <h3>
                            <span class="success">
                                Total : 110
                            </span>
                            |
                            <span class="primary">
                                Active : 100
                            </span>
                            |
                            <span class="danger">In-Active : 10</span>
                        </h3>


                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tblUnit" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Location</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>DEL</td>
                                    <td>Delhi</td>
                                    <td>
                                        <input type="checkbox" checked data-toggle="toggle" data-on="Active" data-off="In Active" data-size="normal">

                                    </td>
                                    <td>
                                        <a href="/master/locationedit" class="btn btn-success" id="Edit" data-toggle="tooltip" data-placement="bottom" title="Edit"> <i class="fas fa-edit"></i></a>
                                        <a href="/master/locationdelete" class="btn btn-danger" id="Delete" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>DEL</td>
                                    <td>Delhi</td>
                                    <td>
                                        <input type="checkbox" checked data-toggle="toggle" data-on="Active" data-off="In Active" data-size="normal">

                                    </td>
                                    <td>
                                        <a href="/master/locationedit" class="btn btn-success" id="Edit" data-toggle="tooltip" data-placement="bottom" title="Edit"> <i class="fas fa-edit"></i></a>
                                        <a href="/master/locationdelete" class="btn btn-danger" id="Delete" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>DEL</td>
                                    <td>Delhi</td>
                                    <td>
                                        <input type="checkbox" checked data-toggle="toggle" data-on="Active" data-off="In Active" data-size="normal">

                                    </td>
                                    <td>
                                        <a href="/master/locationedit" class="btn btn-success" id="Edit" data-toggle="tooltip" data-placement="bottom" title="Edit"> <i class="fas fa-edit"></i></a>
                                        <a href="/master/locationdelete" class="btn btn-danger" id="Delete" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>


                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<script src="~/Content/JQuery/location.js"></script>
