<div class="form-group">
    <label id="lblHsnCode">Hsn Code </label>
    <div class="input-group" id="p_HsnSac_Dropdown">
        <select class="form-control select2" id="ddlItemCode" onchange="fetchItemCodeTax()">
            <option value="0">Select</option>
            @foreach (var item in ViewBag.ItemCodes)
            {
                <option value="@item.ItemCodeId">@item.Code</option>
            }
        </select>
        @if (ViewBag.ItemCodePermission.IsAdd == true)
        {
            <span class="input-group-append">
                <a href="javascript:void(0)" class="btn btn-info" onclick="openItemCodeModal()">+ </a>
            </span>
        }
    </div>
</div>
