
@{
    if (ViewBag.SubSubCategories != null)
    {
        <!-- Back Button -->
        <div class="col-12 mb-3">
            <button type="button" class="btn btn-outline-primary bg-secondary btn-sm font-weight-bold" onclick="fetchActiveSubCategories()" title="Back to Categories">
                <i class="fas fa-arrow-left mr-1"></i> Back
            </button>
        </div>
    }

    if (ViewBag.SubSubCategories != null)
    {
        <div class="col-12 col-sm-6 col-md-6 d-flex align-items-stretch flex-column">
            <div class="card bg-light d-flex flex-fill">
                <div class="card-body p-4">
                    <div class="text-center">
                        <h6 class="mb-1 text-truncate" style="font-size: 0.9rem;"><b>All Sub Sub Categories</b></h6>
                    </div>
                    <!-- OK and Next buttons inside All Sub Sub Categories card -->
                    <div class="d-flex justify-content-center gap-2 mt-3">
                        <button type="button" class="btn btn-success btn-sm px-3" onclick="ItemsPos('sub sub category','0')">
                            <i class="fas fa-check"></i>
                        </button>
                        @* <button type="button" class="btn btn-primary btn-sm px-3 ml-2" onclick="handleNextClick()">
                                <i class="fas fa-arrow-right"></i>
                            </button> *@
                    </div>
                </div>
            </div>
        </div>
        foreach (var item in ViewBag.SubSubCategories)
        {
            <div class="col-12 col-sm-6 col-md-6 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h6 class="mb-1 text-truncate" style="font-size: 0.9rem;"><b>@item.SubSubCategory</b></h6>
                        </div>
                        <!-- OK and Next buttons inside each sub category card -->
                        <div class="d-flex justify-content-center gap-2 mt-3">
                            <button type="button" class="btn btn-success btn-sm px-3" onclick="ItemsPos('sub sub category',@item.SubSubCategoryId)">
                                <i class="fas fa-check"></i>
                            </button>
                            @*<button type="button" class="btn btn-primary btn-sm px-3 ml-2" onclick="fetchActiveSubSubCategories(@item.SubCategoryId)">
                                    <i class="fas fa-arrow-right"></i>
                                </button>*@
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

