@{
    if (ViewBag.Brands != null)
    {
        <div class="col-12 col-sm-6 col-md-6 d-flex align-items-stretch flex-column">
            <a href="javascript:void(0)" class="card bg-light d-flex flex-fill" onclick="ItemsPos('brand','0')">
                <div class="card-body p-4">
                    <div class="text-center">
                        <h6 class="mb-1 text-truncate" style="font-size: 0.9rem;"><b>All Brands</b></h6>
                    </div>
                </div>
            </a>
        </div>
        foreach (var item in ViewBag.Brands)
        {
            <div class="col-12 col-sm-6 col-md-6 d-flex align-items-stretch flex-column">
                <a href="javascript:void(0)" class="card bg-light d-flex flex-fill" onclick="ItemsPos('brand','@item.BrandId')">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h6 class="mb-1 text-truncate" style="font-size: 0.9rem;"><b>@item.Brand</b></h6>
                        </div>
                    </div>
                </a>
            </div>
        }
    }
}
