@using System;
@using System.Web;
@{
    ViewBag.Title = "Admin | Edit Blog Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var blogCategory = ViewBag.BlogCategory;
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Edit Blog Category</h1>
                <div class="float-left">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admindashboard">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/adminblogcategory/index">Blog Category List</a></li>
                        <li class="breadcrumb-item active">Edit Blog Category</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-6 col-12 d-flex align-items-center justify-content-start justify-content-md-end mt-1 mt-md-0">
                <a id="btnBack" href="/adminblogcategory/index" class="btn btn-warning float-sm-right"><i class="fas fa-arrow-left"></i> Back</a>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div id="quickForm">
                        <div class="card-body">
                            <input type="hidden" id="txtBlogCategoryId" value="@(blogCategory?.BlogCategoryId ?? 0)">
                            <input type="hidden" id="txtIsActive" value="@(blogCategory != null && blogCategory.IsActive == true ? "true" : "false")">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Category Name <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control divCategoryName_ctrl" id="txtCategoryName" value="@(blogCategory?.CategoryName ?? "")" placeholder="Enter category name (e.g., GST, Inventory, Tips)">
                                        <small class="text-red font-weight-bold errorText" id="divCategoryName"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button id="btnUpdate" type="button" class="btn btn-primary float-right" onclick="update(1)"><i class="fas fa-edit"></i> Update</button>
                            <button id="btnUpdate_AddAnother" type="button" class="btn btn-success float-right mr-2" onclick="update(2)"><i class="fas fa-plus-circle"></i> Update & Add Another</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Content/JQuery/Admin/AdminBlogCategory.js"></script>

